h1{
    color:black;
}

#profile_info{
    display:grid;
    text-align: center;
    height:40px;
}
#profile{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
#info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    margin-top: 5px;
    margin-bottom: 5px;
}
.start{
    text-align: center;
}

.thumbnail_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.thumbnail{
    width:100%;
}
.circle_pic{
    border:solid white 1px;
    border-radius:50%;

    width:100%;
    height:100%;
    object-fit:cover;
}
.highlight{
    width:100px;
    height:100px;
    text-align: center;

    margin-left:auto;
    margin-right:auto;
}

#high{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#buttons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
#name{
    font-size: 50px;
    margin-top: 60px;
}

